/**********************************************
*** GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(48, 151, 165), rgb(48, 62, 143));
  font-family: sans-serif;
  color: white;
}

.location,
.temperature-section {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature-section {
  flex-direction: column;
}

.temperature-description {
  margin: 10px;
  font-size: 20px;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 5px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}

.clock {
  display: flex;
  width: 10rem;
  height: 10rem;
  border: 10px solid white;
  border-radius: 50%;
  margin: 30px auto;
  position: relative;
  padding: 0.5rem;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 3px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand {
  width: 50%;
  height: 3px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}


